* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header {
  background-color: #dde2e9;
  padding: 10px 30px;
  .input {
    padding: 15px 20px;
    position: relative;
    width: 700px;
  }
  p {
    padding: 15px 20px;
  }
}

.card {
  padding: 5px;
  width: auto;
  height: auto;
  cursor: pointer;
}
.result {
  padding-bottom: 20px;
  // overflow: auto;
  img {
    border-radius: 0.625rem;
  }
  .loader {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}
.card-content {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.625rem;
  padding: 0 10px;
  .card-location {
    color: #fff;
    font-size: 10px;
    opacity: 5;
  }
  .card-username {
    color: #fff;
    line-height: 3em;
    padding-top: 2rem;
  }
}

.modal-image {
  width: 100%;
}
.modal-name {
  padding: 0 5px;
}
.modal-location {
  padding: 0 5px;
}

@media screen and (max-width: 700px) {
  .header {
    max-width: 400px;
    .input {
      width: 200px;
    }
  }
}
